<h1>SEARCH</h1>

<form action="/search/search" method="POST" id="form-container">
  <label for="name">Username</label>
  <input id="name" type="text" name="name" placeholder="Find your Character">
  <button type="submit">Search</button>
</form>
<br><br>

{{#each character}}
<h2>{{name}}</h2> <img src="{{this.image.small_url}}" alt='foto de personaje'>
<h3>Real Name: {{this.realname}}</h3>
<h4>First Appeared in Issue: {{this.first_appeared_in_issue.name}}</h4>
<h4>Publisher: {{this.publisher.name}}</h4>
<p>{{this.deck}}</p>
{{/each}}