<div id="search">
  <h2 class="letterColorRed letterText search ">Search</h2>
  <div class="col-md-6">
    <hr class="hrLogin">
    <form action="/search/search" method="POST" id="form-container">
      <div class="row d-flex justify-content-around">
        <input id="name" type="text" name="name" placeholder="Character name" class="loginBox">
        <button type="submit" class="buttomSearch">Search</button>
      </div>
    </form>
    <br>
  </div>
  <div class="col-md-6">
    <img src="/images/hero search.png" alt="image superh ero" class="imgSearch">
  </div>
</div>
<div>
    <div class="boxSearch letterColorRed letterText">
      <div class="row">
        {{#each character}}
          <div class="col-md-4">
            <div class="cardSearch card">
              <img src="{{this.image.small_url}}" alt='character photo' class="cardImgSearch imgComicSearch">
              <div class="cardBodySearch">
                <h3 class="card-title letterText ">{{name}}</h3>
                <h4>First Appeared in Issue:<span class="spanSearch letterText cardColorText">{{this.first_appeared_in_issue.name}}</span></h4>
                <h4>Publisher:<span class="spanSearch letterText cardColorText">{{this.publisher.name}}</span></h4>
                <p>Description:<span class="spanSearch letterText cardColorText">{{this.deck}}</span></p>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
</div>

