<H1>DETALLES DE TU CÓMIC</H1>

<div class="row">

  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src="{{comicDT.image}}" alt="{{comicDT.name}}">
      <div class="card-body">
        <h5 class="card-title">{{comicDT.name}}</h5>
        <p class="card-text">{{{comicDT.description}}}</p>
        <p class="card-text">{{comicDT.issuesNumber}}</p>
        <p class="card-text">{{comicDT.resourceTypes}}</p>
        <p class="card-text">{{comicDT.volumen}}</p>
        <p class="card-text">{{comicDT.publisherName}}</p>
      </div>
    </div>
  </div>
  <div class="container">
    <a href="/newComic/edit/{{comicDT._id}}">Edit</a>

    <a href="/coasters/delete?id={{comicDT._id}}">Eliminar</a>
  </div>


</div>