<h1 id="edititle">Edit Your Comic File</h1>

<div class="container">

  <div class="row">

    <div class="col-md-6">
      <h1 style="font-weight: 100">{{name}}</h1>
    </div>

    <div class="col-md-6 margintop">

      <form action="/newComic/edit/{{theComic._id}}" method="post" enctype="multipart/form-data">

        <div class="form-group2">
          <label for="name-input"
            style="font-family: 'Alegreya Sans', sans-serif; color: #c95c42; font-size: 1.3em">Name</label>
          <input style="border:1px solid #c95c42; background: #f8f7e8" name="name" type="text" class="form-control"
            id="name-input" value="{{theComic.name}}" placeholder="{{theComic.name}}" required>
        </div>

        <div class="form-group2">
          <label for="description-input"
            style="font-family: 'Alegreya Sans', sans-serif; color: #c95c42; font-size: 1.3em">Description</label>
          <input style="border:1px solid #c95c42; background: #f8f7e8" name="description" type="text"
            class="form-control" id="description-input" value="{{theComic.description}}" required>
        </div>

        <div class="form-group2">
          <label for="issues-input"
            style="font-family: 'Alegreya Sans', sans-serif; color: #c95c42; font-size: 1.3em">Issues Number</label>
          <input style="border:1px solid #c95c42; background: #f8f7e8" name="issuesNumber" type="text"
            class="form-control" id="issues-input" value="{{theComic.issuesNumber}}" required>
        </div>


        <div class="form-group2">
          <label for="type-list"
            style="font-family: 'Alegreya Sans', sans-serif; color: #c95c42; font-size: 1.3em">Resource Types:</label>
          <select style="border:1px solid #c95c42; background: #f8f7e8" name="type" class="form-control" id="type-list"
            required>
            <option disabled selected value>Seleccionar</option>
            <option>volume</option>
            <option>Issue</option>
          </select>
        </div>

        <div class="form-group2">
          <label for="publisher-input"
            style="font-family: 'Alegreya Sans', sans-serif; color: #c95c42; font-size: 1.3em">Publisher Name</label>
          <input style="border:1px solid #c95c42; background: #f8f7e8" name="publisher" type="text" class="form-control"
            id="publisher-input" value="{{theComic.publisherName}}" placeholder="Publisher name" required>
        </div>

        <div class="form-group2">
          <label for="volume-input"
            style="font-family: 'Alegreya Sans', sans-serif; color: #c95c42; font-size: 1.3em">Volume</label>
          <input style="border:1px solid #c95c42; background: #f8f7e8" name="volume" type="text" class="form-control"
            id="volume-input" value="{{theComic.volume}}" placeholder="Volume" required>
        </div>

        <div class='form-group2'>
          <label for='input2'
            style="font-family: 'Alegreya Sans', sans-serif; color: #c95c42; font-size: 1.3em">Image:</label>
          <input name='imgFile' type='file' id='input2' placeholder="Image" required>
        </div>

        <div class="row d-flex justify-content-around">
          <button class="buttonform2" type="submit" class="btn btn-dark">Save Edition</button>
          <a class="buttonform2" href="/newComic/comicsList" class="btn btn-dark">Go Back</a>
        </div>
      </form>

      {{!-- <div class="container">
          <form action="/images/upload" method="post" enctype="multipart/form-data">
            <div class='form-group'>
              <label for='input1'>Actualizar imagen</label>
              <input name='imgName' type='text' class='form-control' id='input1'>
            </div>
            <div class='form-group'>
              <label for='input2'>Imagen:</label>
              <input name='imgFile' type='file' id='input2'>
            </div>
            <button type='submit' class='btn btn-dark'>Subir imagen</button>
          </form>
        </div> --}}
    </div>
  </div>
</div>

<img id="editcoupel" src="/images/edit-coupel.png" alt="">